.main {
  width: 100%;
  max-width: $desktop-medium-width;
  height: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

@media (max-width: $tablet-max-width) {
  .main {
    padding: 0 40px;
  }
}

@media (max-width: $mobile-max-width) {
  .main {
    padding: 0;
  }
}
